<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">积分类型</label>
        <div class="layui-input-block">
            <select name="taskStatus" lay-filter="aihao">
                <option value="1" selected="">分享视频</option>
                <option value="2">分享APP</option>
                <option value="3">发布动态</option>
            </select>
        </div>
    </div>

    <!--可获积分-->
    <div class="layui-form-item">
        <label class="layui-form-label">可获积分</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="integral" value="{{ d.params.retrievable || '' }}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <!--短期会员-->
    <div class="layui-form-item">
        <label class="layui-form-label">短期会员</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="maxIntegral" value="{{ d.params.shotVip || '' }}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

    <!--每天最多获取积分-->
    <div class="layui-form-item">
        <label class="layui-form-label">每天最多获取积分</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="maxIntegral" value="{{ d.params.dayMost || '' }}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>


    <!--任务详情-->
    <!--回复内容 隐藏作用域-->
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input id="content" type="hidden" name="details" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">任务详情</label>
        <div class="layui-input-block">
            <textarea id="demo" style="display: none;" placeholder="请输入"></textarea>
        </div>
    </div>

    <!--确认-->
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-task-front-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'upload', 'layedit'], function() {
        var $ = layui.$,
            form = layui.form,
            upload = layui.upload;
        var layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: layui.setter.urll + '/api/upload/image',
                method: "post",
                contentType: 'multipart/form-data;'
            }
        });
        var index = layedit.build('demo', {
            tool: ['image', 'strong', 'italic', 'underline', 'del', '|', 'left', 'center', 'right']
        });
        $("#send").on('click', function() {
            var text = layedit.getContent(index);
            var content = $("#content").val(text);
            console.log(content)
        });
        form.render();
    });
</script>